body {background-image: url("landscape.jpeg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position:top;
      background-attachment:fixed;
  	 }

#header{text-align: center;
      padding: 5px;
      margin: 5px;
      border: 1px solid black;
      background-color: yellow;
  	opacity: .8;
    border-radius: 5px;
	font-style:oblique;}


#header #search form {border:1px black solid;
    background-color: green;
    border-radius: 5px;}
#header #search .search {border-radius: 5px;
			padding:0px 5px; }
#header #search .submit {border-radius: 5px;
			padding:0px 5px;
			margin:0px;}
#navbar ul li{
	    border-radius: 5px;
		
		      display: inline-block;
		      background: green;
		      color: white;
		      text-align: center;
	  	padding:0px 25px; 
	  	opacity: .8;
	    }

#navbar ul li:hover{background-color: #bd00ff;
 		}

#navbar #main-menu li ul{position: absolute;}


#navbar ul li ul li a{margin:0px;
		padding:0px;
	    }

#navbar ul li a{color: black;
	list-style-type: none;
    text-decoration: none;}


#content{height: 1000px;
	background-color: #A0D468;

	opacity:.8;
	width:575px auto;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
    border-radius: 5px;
    font-style: italic;}

#content .photography{
	border-radius: 5px;
	height: 100px;
	width:100px ;
	border: 1px solid black;
	background-color: #ff4081;
	float: left;
	margin: 5px;}

#content #marginkotak{margin-top: 20px;}

img {padding:2px 2px 2px 2px;
	border-radius: 5px;
}
#content .photography .kotak1 {height: 10px;
	border-radius: 2px;
	width: 90px;
	border: 1px solid black;
	font-size: 10px;
	text-align: center;
    margin:   2px 2px 2px 2px ;
    padding: 2px 2px 2px 2px;
    }